In [2]:
import numpy as np
import pandas as pd

In [33]:
#Create a vector from 4 to 100 by 4  
#Create a vector from 0.8 to 40 by 0.8

vector1 = np.arange(4, 101, 4)
vector2 = np.arange(0.8, 40.8, 0.8)

[  4   8  12  16  20  24  28  32  36  40  44  48  52  56  60  64  68  72
  76  80  84  88  92  96 100]
[  0.8   1.6   2.4   3.2   4.    4.8   5.6   6.4   7.2   8.    8.8   9.6
  10.4  11.2  12.   12.8  13.6  14.4  15.2  16.   16.8  17.6  18.4  19.2
  20.   20.8  21.6  22.4  23.2  24.   24.8  25.6  26.4  27.2  28.   28.8
  29.6  30.4  31.2  32.   32.8  33.6  34.4  35.2  36.   36.8  37.6  38.4
  39.2  40. ]

In [27]:
#Create a matrix with the previous vector; make it have 5 columns
myMatrix = np.array(vector2).reshape(len(vector2)/5,5)

In [28]:
myMatrix

array([[  0.8,   1.6,   2.4,   3.2,   4. ],
       [  4.8,   5.6,   6.4,   7.2,   8. ],
       [  8.8,   9.6,  10.4,  11.2,  12. ],
       [ 12.8,  13.6,  14.4,  15.2,  16. ],
       [ 16.8,  17.6,  18.4,  19.2,  20. ],
       [ 20.8,  21.6,  22.4,  23.2,  24. ],
       [ 24.8,  25.6,  26.4,  27.2,  28. ],
       [ 28.8,  29.6,  30.4,  31.2,  32. ],
       [ 32.8,  33.6,  34.4,  35.2,  36. ],
       [ 36.8,  37.6,  38.4,  39.2,  40. ]])

In [65]:
#Load zip_codes and Oklahoma dataset into a dataframe
zipCodes = pd.read_csv('zip_codes.csv')
Oklahoma = pd.read_csv('C:\Users\MBG\Documents\R\Oklahoma.csv')

In [64]:
#Display information about new dataframe
zipCodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42522 entries, 0 to 42521
Data columns (total 16 columns):
zip                     42522 non-null int64
type                    42522 non-null object
primary_city            42522 non-null object
acceptable_cities       9010 non-null object
unacceptable_cities     12286 non-null object
state                   42522 non-null object
county                  41672 non-null object
timezone                40605 non-null object
area_codes              41282 non-null object
latitude                42522 non-null float64
longitude               42522 non-null float64
world_region            333 non-null object
country                 42522 non-null object
decommissioned          42522 non-null int64
estimated_population    42522 non-null int64
notes                   1331 non-null object
dtypes: float64(2), int64(3), object(11)
memory usage: 5.2+ MB

In [66]:
Oklahoma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1785 entries, 0 to 1784
Data columns (total 17 columns):
Unnamed: 0    1785 non-null int64
School        1785 non-null object
LocCity       1785 non-null object
MailCity      1785 non-null object
County        1785 non-null object
Teachers      1780 non-null float64
Grade7        593 non-null float64
Grade8        592 non-null float64
Grade9        468 non-null float64
Grade10       469 non-null float64
Grade11       467 non-null float64
Grade12       464 non-null float64
Ungraded      203 non-null float64
PreTotal      901 non-null float64
ElemTotal     1282 non-null float64
HSTotal       502 non-null float64
PTRatio       1780 non-null float64
dtypes: float64(12), int64(1), object(4)
memory usage: 237.1+ KB

In [67]:
#Find the mean of HSTotal in Oklahoma
Oklahoma['HSTotal'].mean()

349.7569721115538

In [75]:
#Find the schools in Oklahoma with below-average HS attendance that are not na
OK2= Oklahoma[(Oklahoma['HSTotal'] < Oklahoma['HSTotal'].mean()) & (Oklahoma['HSTotal'].isnull()==0)]
OK2.head()

,Unnamed: 0,School,LocCity,MailCity,County,Teachers,Grade7,Grade8,Grade9,Grade10,Grade11,Grade12,Ungraded,PreTotal,ElemTotal,HSTotal,PTRatio
1,2,8TH & 9TH GRADE CTR,ELK CITY,ELK CITY,BECKHAM COUNTY,31.4,144.0,157.0,145.0,NaN,NaN,NaN,4.0,NaN,301.0,145.0,14.33
5,6,ACHILLE HS,ACHILLE,ACHILLE,BRYAN COUNTY,7.6,NaN,NaN,30.0,31.0,31.0,34.0,NaN,NaN,NaN,126.0,16.58
7,8,ADA JHS,ADA,ADA,PONTOTOC COUNTY,46.9,173.0,183.0,183.0,NaN,NaN,NaN,NaN,NaN,356.0,183.0,11.49
8,9,ADAIR HS,ADAIR,ADAIR,MAYES COUNTY,19.6,NaN,NaN,82.0,62.0,65.0,76.0,NaN,NaN,NaN,285.0,14.54
16,17,AFTON HS,AFTON,AFTON,OTTAWA COUNTY,10.6,NaN,NaN,32.0,30.0,31.0,28.0,NaN,NaN,NaN,121.0,11.42

In [80]:
#Find mean attendance across all grades and add into the dataframe
Oklahoma['ClassAvgSize'] = Oklahoma[['Grade7', 'Grade8', 'Grade9', 'Grade10', 'Grade11', 'Grade12']].mean(axis = 1)

In [82]:
#Display the first 25 rows of the dataframe
Oklahoma.head(25)

,Unnamed: 0,School,LocCity,MailCity,County,Teachers,Grade7,Grade8,Grade9,Grade10,Grade11,Grade12,Ungraded,PreTotal,ElemTotal,HSTotal,PTRatio,ClassAvgSize
0,1,7TH & 8TH GRADE CTR,MUSKOGEE,MUSKOGEE,MUSKOGEE COUNTY,47.2,337.0,344.0,NaN,NaN,NaN,NaN,2.0,NaN,681.0,NaN,14.47,340.500000
1,2,8TH & 9TH GRADE CTR,ELK CITY,ELK CITY,BECKHAM COUNTY,31.4,144.0,157.0,145.0,NaN,NaN,NaN,4.0,NaN,301.0,145.0,14.33,148.666667
2,3,ACADEMY CENTRAL ES,TULSA,TULSA,OSAGE COUNTY,21.5,NaN,NaN,NaN,NaN,NaN,NaN,38.0,64.0,182.0,NaN,13.21,NaN
3,4,ACADEMY ES,GUYMON,GUYMON,TEXAS COUNTY,27.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.0,NaN,15.20,NaN
4,5,ACHILLE ES,ACHILLE,ACHILLE,BRYAN COUNTY,15.2,29.0,26.0,NaN,NaN,NaN,NaN,NaN,50.0,205.0,NaN,16.78,27.500000
5,6,ACHILLE HS,ACHILLE,ACHILLE,BRYAN COUNTY,7.6,NaN,NaN,30.0,31.0,31.0,34.0,NaN,NaN,NaN,126.0,16.58,31.500000
6,7,ADA HS,ADA,ADA,PONTOTOC COUNTY,40.5,NaN,NaN,NaN,168.0,186.0,148.0,NaN,NaN,NaN,502.0,12.40,167.333333
7,8,ADA JHS,ADA,ADA,PONTOTOC COUNTY,46.9,173.0,183.0,183.0,NaN,NaN,NaN,NaN,NaN,356.0,183.0,11.49,179.666667
8,9,ADAIR HS,ADAIR,ADAIR,MAYES COUNTY,19.6,NaN,NaN,82.0,62.0,65.0,76.0,NaN,NaN,NaN,285.0,14.54,71.250000
9,10,ADAIR MS,ADAIR,ADAIR,MAYES COUNTY,14.5,81.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,251.0,NaN,17.31,79.000000
10,11,ADAMS ES,ENID,ENID,GARFIELD COUNTY,23.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0,220.0,NaN,14.07,NaN
11,12,ADAMS ES,LAWTON,LAWTON,COMANCHE COUNTY,10.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,131.0,NaN,16.35,NaN
12,13,ADAMS ES,NORMAN,NORMAN,CLEVELAND COUNTY,34.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.0,356.0,NaN,14.36,NaN
13,14,ADAMS ES,OKLAHOMA CITY,OKLAHOMA CITY,OKLAHOMA COUNTY,32.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,475.0,NaN,18.45,NaN
14,15,ADDAMS ES,TULSA,TULSA,TULSA COUNTY,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,147.0,NaN,13.33,NaN
15,16,AFTON ES,AFTON,AFTON,OTTAWA COUNTY,21.7,31.0,38.0,NaN,NaN,NaN,NaN,NaN,60.0,278.0,NaN,15.58,34.500000
16,17,AFTON HS,AFTON,AFTON,OTTAWA COUNTY,10.6,NaN,NaN,32.0,30.0,31.0,28.0,NaN,NaN,NaN,121.0,11.42,30.250000
17,18,AGRA ES,AGRA,AGRA,LINCOLN COUNTY,20.0,36.0,26.0,NaN,NaN,NaN,NaN,NaN,63.0,255.0,NaN,15.90,31.000000
18,19,AGRA HS,AGRA,AGRA,LINCOLN COUNTY,9.0,NaN,NaN,25.0,27.0,27.0,19.0,NaN,NaN,NaN,98.0,10.89,24.500000
19,20,ALBION PUBLIC SCHOOL,ALBION,ALBION,PUSHMATAHA COUNTY,6.3,8.0,9.0,NaN,NaN,NaN,NaN,NaN,40.0,69.0,NaN,17.30,8.500000
20,21,ALCOTT ES,TULSA,TULSA,TULSA COUNTY,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,205.0,NaN,14.72,NaN
21,22,ALCOTT MS,NORMAN,NORMAN,CLEVELAND COUNTY,41.2,182.0,208.0,NaN,NaN,NaN,NaN,NaN,NaN,618.0,NaN,15.00,195.000000
22,23,ALEX ES,ALEX,ALEX,GRADY COUNTY,9.2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,36.0,123.0,NaN,17.50,NaN
23,24,ALEX HS,ALEX,ALEX,GRADY COUNTY,7.6,NaN,NaN,38.0,25.0,20.0,23.0,NaN,NaN,NaN,106.0,13.95,26.500000
24,25,ALEX MS,ALEX,ALEX,GRADY COUNTY,3.3,26.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,71.0,NaN,21.52,23.000000

In [90]:
#Construct a dataset of only high schools in Oklahoma
OKHS = Oklahoma[Oklahoma['School'].apply(lambda school: 'HS' in school.split() or 'ES-HS' in school.split())]
OKHS.head()

,Unnamed: 0,School,LocCity,MailCity,County,Teachers,Grade7,Grade8,Grade9,Grade10,Grade11,Grade12,Ungraded,PreTotal,ElemTotal,HSTotal,PTRatio,ClassAvgSize
5,6,ACHILLE HS,ACHILLE,ACHILLE,BRYAN COUNTY,7.6,NaN,NaN,30.0,31.0,31.0,34.0,NaN,NaN,NaN,126.0,16.58,31.500000
6,7,ADA HS,ADA,ADA,PONTOTOC COUNTY,40.5,NaN,NaN,NaN,168.0,186.0,148.0,NaN,NaN,NaN,502.0,12.40,167.333333
8,9,ADAIR HS,ADAIR,ADAIR,MAYES COUNTY,19.6,NaN,NaN,82.0,62.0,65.0,76.0,NaN,NaN,NaN,285.0,14.54,71.250000
16,17,AFTON HS,AFTON,AFTON,OTTAWA COUNTY,10.6,NaN,NaN,32.0,30.0,31.0,28.0,NaN,NaN,NaN,121.0,11.42,30.250000
18,19,AGRA HS,AGRA,AGRA,LINCOLN COUNTY,9.0,NaN,NaN,25.0,27.0,27.0,19.0,NaN,NaN,NaN,98.0,10.89,24.500000

In [95]:
#Create a dataframe of Oklahoma zip codes
OKZips = zipCodes[zipCodes['state'] == 'OK']
OKZips.head()

,zip,type,primary_city,acceptable_cities,unacceptable_cities,state,county,timezone,area_codes,latitude,longitude,world_region,country,decommissioned,estimated_population,notes
31829,73001,PO BOX,Albert,NaN,NaN,OK,Caddo County,America/Chicago,405,35.23,-98.40,NaN,US,0,0,NaN
31830,73002,STANDARD,Alex,NaN,NaN,OK,Grady County,America/Chicago,405,34.92,-97.77,NaN,US,0,910,NaN
31831,73003,STANDARD,Edmond,NaN,NaN,OK,Oklahoma County,America/Chicago,405,35.67,-97.41,NaN,US,0,19960,NaN
31832,73004,STANDARD,Amber,NaN,NaN,OK,Grady County,America/Chicago,405,35.16,-97.88,NaN,US,0,743,NaN
31833,73005,STANDARD,Anadarko,Washita,NaN,OK,Caddo County,America/Chicago,"405,580",35.06,-98.24,NaN,US,0,6595,NaN

In [102]:
#Change the names of the cities to uppercase and store in MailCity
OKZips['MailCity'] = OKZips['primary_city'].apply(lambda city: city.upper())

C:\Users\MBG\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [104]:
# Merge the zip code data with the high school data
OKZipsAndHS =  pd.merge(OKHS,OKZips,how = 'inner', on = 'MailCity')

In [105]:
#Display the first 25 rows of the new dataset
OKZipsAndHS.head(25)

,Unnamed: 0,School,LocCity,MailCity,County,Teachers,Grade7,Grade8,Grade9,Grade10,...,timezone,area_codes,latitude,longitude,world_region,country,decommissioned,estimated_population,notes,Mailcity
0,6,ACHILLE HS,ACHILLE,ACHILLE,BRYAN COUNTY,7.6,NaN,NaN,30.0,31.0,...,America/Chicago,580,33.83,-96.38,NaN,US,0,0,NaN,ACHILLE
1,7,ADA HS,ADA,ADA,PONTOTOC COUNTY,40.5,NaN,NaN,NaN,168.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,21190,NaN,ADA
2,7,ADA HS,ADA,ADA,PONTOTOC COUNTY,40.5,NaN,NaN,NaN,168.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,1775,NaN,ADA
3,195,BYNG HS,ADA,ADA,PONTOTOC COUNTY,26.9,NaN,NaN,NaN,116.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,21190,NaN,ADA
4,195,BYNG HS,ADA,ADA,PONTOTOC COUNTY,26.9,NaN,NaN,NaN,116.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,1775,NaN,ADA
5,871,LATTA HS,ADA,ADA,PONTOTOC COUNTY,10.7,NaN,NaN,NaN,62.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,21190,NaN,ADA
6,871,LATTA HS,ADA,ADA,PONTOTOC COUNTY,10.7,NaN,NaN,NaN,62.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,1775,NaN,ADA
7,1598,VANOSS HS,ADA,ADA,PONTOTOC COUNTY,11.0,NaN,NaN,33.0,49.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,21190,NaN,ADA
8,1598,VANOSS HS,ADA,ADA,PONTOTOC COUNTY,11.0,NaN,NaN,33.0,49.0,...,America/Chicago,580,34.77,-96.66,NaN,US,0,1775,NaN,ADA
9,9,ADAIR HS,ADAIR,ADAIR,MAYES COUNTY,19.6,NaN,NaN,82.0,62.0,...,America/Chicago,918,36.43,-95.26,NaN,US,0,2224,NaN,ADAIR
10,17,AFTON HS,AFTON,AFTON,OTTAWA COUNTY,10.6,NaN,NaN,32.0,30.0,...,America/Chicago,918,36.69,-94.96,NaN,US,0,4536,NaN,AFTON
11,19,AGRA HS,AGRA,AGRA,LINCOLN COUNTY,9.0,NaN,NaN,25.0,27.0,...,America/Chicago,918,35.89,-96.87,NaN,US,0,998,NaN,AGRA
12,24,ALEX HS,ALEX,ALEX,GRADY COUNTY,7.6,NaN,NaN,38.0,25.0,...,America/Chicago,405,34.92,-97.77,NaN,US,0,910,NaN,ALEX
13,28,ALINE-CLEO HS,ALINE,ALINE,ALFALFA COUNTY,5.0,NaN,NaN,7.0,14.0,...,America/Chicago,580,36.50,-98.44,NaN,US,0,0,NaN,ALINE
14,30,ALLEN HS,ALLEN,ALLEN,PONTOTOC COUNTY,10.0,NaN,NaN,28.0,34.0,...,America/Chicago,580,34.87,-96.41,NaN,US,0,1644,NaN,ALLEN
15,33,ALTUS HS,ALTUS,ALTUS,JACKSON COUNTY,66.3,NaN,NaN,269.0,266.0,...,America/Chicago,580,34.64,-99.31,NaN,US,0,15986,NaN,ALTUS
16,33,ALTUS HS,ALTUS,ALTUS,JACKSON COUNTY,66.3,NaN,NaN,269.0,266.0,...,America/Chicago,580,34.64,-99.31,NaN,US,0,586,NaN,ALTUS
17,1079,NAVAJO HS,ALTUS,ALTUS,JACKSON COUNTY,10.6,NaN,NaN,NaN,36.0,...,America/Chicago,580,34.64,-99.31,NaN,US,0,15986,NaN,ALTUS
18,1079,NAVAJO HS,ALTUS,ALTUS,JACKSON COUNTY,10.6,NaN,NaN,NaN,36.0,...,America/Chicago,580,34.64,-99.31,NaN,US,0,586,NaN,ALTUS
19,36,ALVA HS,ALVA,ALVA,WOODS COUNTY,21.8,NaN,NaN,64.0,69.0,...,America/Chicago,580,36.80,-98.66,NaN,US,0,4738,NaN,ALVA
20,39,AMBER-POCASSET HS,AMBER,AMBER,GRADY COUNTY,8.4,NaN,NaN,NaN,36.0,...,America/Chicago,405,35.16,-97.88,NaN,US,0,743,NaN,AMBER
21,42,ANADARKO HS,ANADARKO,ANADARKO,CADDO COUNTY,40.2,NaN,NaN,137.0,149.0,...,America/Chicago,"405,580",35.06,-98.24,NaN,US,0,6595,NaN,ANADARKO
22,49,ANTLERS HS,ANTLERS,ANTLERS,PUSHMATAHA COUNTY,20.7,NaN,NaN,78.0,74.0,...,America/Chicago,"405,580",34.23,-95.61,NaN,US,0,4535,NaN,ANTLERS
23,51,APACHE HS,APACHE,APACHE,CADDO COUNTY,15.4,NaN,NaN,38.0,37.0,...,America/Chicago,580,34.89,-98.35,NaN,US,0,2723,NaN,APACHE
24,56,ARAPAHO-BUTLER HS,ARAPAHO,ARAPAHO,CUSTER COUNTY,9.0,NaN,NaN,23.0,24.0,...,America/Chicago,580,35.57,-98.95,NaN,US,0,854,NaN,ARAPAHO

In [107]:
# Write the resultant dataset to CSV
OKZipsAndHS.to_csv('OKZipsAndHS.csv', index = False)